n8n/whatsapp-bot.json
{
  "name": "Taller Pro — WhatsApp Bot",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp-webhook", "responseMode": "lastNode", "options": {} },
      "id": "webhook-receive", "name": "Webhook (recibe msg)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [250, 300]
    },
    {
      "parameters": { "jsCode": "const body = $input.first().json;\nreturn { message: body.message || '', phone: body.phone || '', name: body.name || 'Cliente' };" },
      "id": "extract", "name": "Extraer datos", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://glrveolwztjirwatdmyf.supabase.co/functions/v1/whatsapp-webhook",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdscnZlb2x3enRqaXJ3YXRkbXlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MjgwNjIsImV4cCI6MjA5MzEwNDA2Mn0.mzliyZzOUTFx0p79VatSSTpID6xkofyUW3vzn8dB4HI" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"message\":\"={{ $json.message }}\",\"phone\":\"={{ $json.phone }}\",\"name\":\"={{ $json.name }}\" }",
        "options": {}
      },
      "id": "call-ef", "name": "Llamar Edge Function", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1022623927610993/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer EAANYyZCf5JkYBRexuNMltKLt5TpLMIt5YCBshsRoe1ZC4rJZBYDHZAYon3HujKVbZCevIaermtBUbBhQOIXAxh69yAZBJdhTcY5ahBV6bDp9bxB3cxTpYgZAwZBUxtRWSGMZCB11ubpOKzOMPZBUJZCE9XycXVRGwhZCz44aTrpbsAuzOYZAV5vy4QWg6SGZCNaqvB4FiAfg0LJIvboqWCe9oJbyKOChNrSJYHZARkwM3XJr7kLiMKISxMWVpcKBgAUtbTK0pTy3bc7rRfj7VaGE4dBkhjeyt8238sye0QZD" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"messaging_product\":\"whatsapp\",\"to\":\"={{ $json.phone }}\",\"type\":\"text\",\"text\":{\"body\":\"={{ $json.reply }}\" }}",
        "options": {}
      },
      "id": "send-wa", "name": "Enviar WhatsApp", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook (recibe msg)": { "main": [[{ "node": "Extraer datos", "type": "main", "index": 0 }]] },
    "Extraer datos": { "main": [[{ "node": "Llamar Edge Function", "type": "main", "index": 0 }]] },
    "Llamar Edge Function": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]] }
  },
  "settings": { "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" },
  "staticData": null, "tags": [{ "name": "taller-pro" }], "pinData": {}, "versionId": "3.0.0", "active": true, "id": "whatsapp-bot",
  "description": "Bot WhatsApp v3: 4 nodos, HTTP Request con specifyBody:json para ambos. Sin Code nodes problemáticos."
}
